#####################################################################
#   Print Macros
#####################################################################

[gcode_macro PRINT_START]
gcode:
  {action_raise_error("Check preconditions and get print temperatures")} ; Replace with your real macro
  SET_GCODE_OFFSET Z=0 ; Reset Z offset
  G28 ; Home all axes
  G90 ; Set to absolute positioning
  
  M104 S150 ; Heat nozzle to soften filament leftovers
  {action_raise_error("Heat bed to print temperature, M190 S{target_bed}")} ; Replace with your real macro
  
  {action_raise_error("QUAD_GANTRY_LEVEL or Z_TILT_ADJUST")} ; Replace with your real macro
  M109 S150 ; Ensure nozzle is at 150C, in case it was hot when print started.
  CARTOGRAPHER_TOUCH_HOME ; Home for real Z0

  {action_raise_error("Do BED_MESH_CALIBRATE ADAPTIVE=1")} ; Replace with your real macro

  {action_raise_error("Do the rest - heat to print temperature and prime")} ; Replace with your real macro

  STATUS_READY # Set LEDs status READY

#####################################################################
#   LED Macros
#####################################################################

[gcode_macro LED_ON]
# Turn on white work lights, red logo
gcode:
    SET_LED LED=hotend_rgb RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
    SET_LED LED=hotend_rgb RED=1 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=0
    SET_LED LED=hotend_rgb RED=1 GREEN=0 BLUE=0 INDEX=3

[gcode_macro LED_OFF]
gcode:
    SET_LED LED=hotend_rgb RED=0 GREEN=0 BLUE=0

[gcode_macro STATUS_READY]
# Green lights - ready to print
gcode:
    SET_LED LED=hotend_rgb RED=0 GREEN=1 BLUE=0 INDEX=1 TRANSMIT=0
    SET_LED LED=hotend_rgb RED=0 GREEN=1 BLUE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=hotend_rgb RED=0 GREEN=1 BLUE=0 INDEX=3

[gcode_macro STATUS_HEATING]
# Orange/yellow while heating
gcode:
    SET_LED LED=hotend_rgb RED=1 GREEN=0.5 BLUE=0 INDEX=1 TRANSMIT=0
    SET_LED LED=hotend_rgb RED=1 GREEN=0.5 BLUE=0 INDEX=2 TRANSMIT=0
    SET_LED LED=hotend_rgb RED=1 GREEN=0.3 BLUE=0 INDEX=3

[gcode_macro STATUS_PRINTING]
# White work lights, blue logo
gcode:
    SET_LED LED=hotend_rgb RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
    SET_LED LED=hotend_rgb RED=1 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=0
    SET_LED LED=hotend_rgb RED=0 GREEN=0.5 BLUE=1 INDEX=3

[gcode_macro STATUS_ERROR]
# Red alert!
gcode:
    SET_LED LED=hotend_rgb RED=1 GREEN=0 BLUE=0

[gcode_macro PARTY_MODE]
# Rainbow cycle through the LEDs
gcode:
    {% for i in range(10) %}
        SET_LED LED=hotend_rgb RED=1 GREEN=0 BLUE=0
        G4 P200
        SET_LED LED=hotend_rgb RED=1 GREEN=0.5 BLUE=0
        G4 P200
        SET_LED LED=hotend_rgb RED=0 GREEN=1 BLUE=0
        G4 P200
        SET_LED LED=hotend_rgb RED=0 GREEN=1 BLUE=1
        G4 P200
        SET_LED LED=hotend_rgb RED=0 GREEN=0 BLUE=1
        G4 P200
        SET_LED LED=hotend_rgb RED=1 GREEN=0 BLUE=1
        G4 P200
    {% endfor %}
    STATUS_READY